In [7]:
import pandas as pd
import numpy as np

In [26]:
data = pd.read_csv("https://raw.githubusercontent.com/sunnysavita10/ML_Project_With_ContinuesTraining/main/notebooks/data/gemstone.csv")
data.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [29]:
data.columns

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'price'],
      dtype='object')

In [30]:
data = data.drop(labels=['id'], axis=1)

In [31]:
data.duplicated().sum()

0

In [34]:
data.dtypes!=None

carat      True
cut        True
color      True
clarity    True
depth      True
table      True
x          True
y          True
z          True
price      True
dtype: bool

In [36]:
data.dtypes!='object'

carat       True
cut        False
color      False
clarity    False
depth       True
table       True
x           True
y           True
z           True
price       True
dtype: bool

In [38]:
data.columns[data.dtypes!='object']

Index(['carat', 'depth', 'table', 'x', 'y', 'z', 'price'], dtype='object')

In [39]:
numeric_column = data.columns[data.dtypes!='object']
categorical_column = data.columns[data.dtypes=='object']

In [40]:
categorical_column

Index(['cut', 'color', 'clarity'], dtype='object')

In [41]:
numeric_column

Index(['carat', 'depth', 'table', 'x', 'y', 'z', 'price'], dtype='object')